<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>ADD Blog</title>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    
    <div class="container mt-4">
        <form action="/blog" method="post" enctype="multipart/form-data">
            <div>
                <div class="mb-3">
                    <label for="coverImage" class="form-label">File input example</label>
                    <input class="form-control" name="coverImage" type="file" id="coverImage">
                  </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="title"  class="form-control" id="title" aria-describedby="title">
                    <div id="title"  class="form-text">share your Blog with anyone else.</div>
                  </div>
                  <div class="mb-3">
                    <label for="body" class="form-label">Body</label>
                    <textarea class="form-control" name="body" id="body" style="height: 100px"></textarea>
                  </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    
    
    <%- include('./partials/script.ejs') %>
</body>
</html>